<div id='signup_form'>
  <p>Want to know more?  Sign up for our newsletter: </p>
  <%= simple_form_for customer do |f| %>
    <%= f.input :email_address %>
    <%= f.button :submit, "Sign Up" %>
  <% end %>
</div>