<h3>Welcome to Mettle a tool for regression testing big data sets.</h3>

<p>
	Mettle provides you with an easy way to interogate big data test results.
</p>
<p>
	All you need to do is provide the data you expect and the actual results of the test in csv format.
</p>
<p>
To get straight into the action click <a href="/try">Try Mettle</a> or watch the introductory video below.
</p>
