<div id="intro">
  <h2>Compare CSV Files</h2>

  <p>We want to show you Mettle by making it possible for you to use it in your browser (that's right, none of your data will be sent to our servers).  Select 2 CSV files and press "compare" to try it!<p>

  <%= link_to "Restart", root_path %>
</div>

<div id="upload_files">
  <div class="step one">
    <header>Step 1: Load expected results</header>
    <input type="file" id="expected_csv_input" name="expected_csv_input" accept="text/csv"/>
    <div class="progress" style='display: inline; padding: 2em;'>
      <span class='loading-file' style='display: none'>Loading CSV File</span>
      <span class='file-load-ok' style='display: none'>OK</span>
      <span class='file-load-failed' style='display: none'>Error</span>
    </div>
  </div>

  <div class="step two">
    <header>Step 2: Load actual results</header>
    <input type="file" id="actual_csv_input" name="actual_csv_input" accept="text/csv"/>
    <span class='loading-file' style='display: none'>Loading CSV File</span>
    <span class='file-load-ok' style='display: none'>OK</span>
    <span class='file-load-failed' style='display: none'>Error</span>
  </div>

  <div class="step three">
    <header>Step 3: Choose Primary Key</header>    
    You can choose multiple PKs. 
  </div>

  <div class="step four">
    <header>Step 4: Run the test</header>
    <input id='compare-button' type='submit' value="Compare Files"/>
    <span class='loading-file' style='display: none'>Loading CSV File</span>
    <span class='file-load-ok' style='display: none'>OK</span>
    <span class='file-load-failed' style='display: none'>Error</span>
  </div>

</div>

<div id="results_table_test"></div>
