<div class="intro">
  <div class="screencast">
    <!-- <iframe src="http://player.vimeo.com/video/42406508" width="500" height="244" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
  </div>

  <p class="larger">
    Mettle is a new beta product that makes it really easy to test big data sets.
  </p>
  <br />
  <p>
    It is really easy to <a href='/try'>try mettle straight away</a> using
    data extracted from your database or ETL processes using only your browser.  We think this is a good thing because you can explore your
    confidential data without needing to worry about sending it over the internet
    or dealing with any messy paperwork.
  </p>
</div>

<div id="instructions">
  <h2>How it Works</h2>
  <p>
    <a href='/try'>Start here</a> and follow four simple steps.
  <p>
  <div class="top_instructions">
    <div class='instruction one'>
      <header>1. Select your files</header>
      <p>
        Simply select the two CSV files you want to compare.
      </p>
      <div class="right">
        <%= image_tag "mettle_choose_files.png", :class => 'screenshot' %>
      </div>
    </div>
    <div class='instruction two'>
      <header>2. Choose a primary key</header>
      <p>
        Select which keys you want to compare the documents on.
      </p>
      <%= image_tag "mettle_choose_keys.png", :class => 'screenshot' %>
    </div>
    <div class='instruction three'>
      <header>3. Compare Files</header>
      <p>
        Simply press the 'compare files' button to run a comparison.
      </p>
      <%= image_tag "mettle_compare_files.png", :class => 'screenshot' %>
    </div>
  </div>
  <div class='instruction four'>
    <%= image_tag "mettle_view_results.png", :class => 'screenshot' %>
    <header>4. See the results</header>
    <p>
      Mismatches between the CSV files will be highlighted for review
    </p>
  </div>
</div>
