<div id='feedback_form'>
  <h2>Feedback</h2>
  <p>Did you find this useful? Send us your feedback:</p>
  <%= simple_form_for @feedback do |f| %>
    <%= f.input :email_address %>
    <%= f.input :description %>
    <%= f.button :submit, "Send Feedback" %>
  <% end %>
</div>
