<div id='feedback_form'>
  <h2>Give Feedback</h2>
  <p>Mettle is in the early stages of development and we really want to be solving the real-world problems you face every day.  Any feedback you can give us, no matter how big or small, is really valuable and helps us decide which new features to add next.</p>
  <p>We will follow up on your comment if you give us your email address, but anoymous feedback is very helpful too.</p>
  <%= simple_form_for @feedback do |f| %>
    <%= f.input :email_address %>
    <%= f.input :description %>
    <%= f.button :submit, "Send Feedback" %>
  <% end %>
</div>
