<div id='signup_form'>
  <h2>Newsletter</h2>
  <p>We would like to be able to let you know every so often when we release new features and make improvements to Mettle. We also hate spam as much as you do so we promise to use your email address sensibly and with respect. Please sign up below if you would like to know more.</p>
  <%= simple_form_for @customer do |f| %>
    <%= f.input :email_address %>
    <%= f.button :submit, "Sign Up" %>
  <% end %>
</div>
