<h2>Terms and Conditions</h2>

<h3>Description of Service</h3>
<p>
  Mettle is a regression testing framework for testing big data sets.
</p>

<h3>Restrictions on Use</h3>
<p>
  You promise not to intentionally damage or perform any action which may affect the
  performance, reliability and availability of the service to other users.
</p>

<h3>Copyright</h3>
<p>
  Mettle contains material which is owned by or licensed to us. This material includes,
  but is not limited to, the design, layout, look, appearance and graphics. Reproduction
  is prohibited other than in accordance with the copyright notice, which forms part of
  these terms and conditions.
</p>
<p>
  Application users are responsible for the accuracy and reliability of content they
  provide to Mettle. An application user retains all copyright and other rights to data
  that they provide.
</p>

<h3>Disclaimer</h3>
<p>
  Neither we nor any third parties provide any warranty or guarantee as to the accuracy,
  timeliness, performance, completeness or suitability of the information, materials or
  service found or offered on this website for any particular purpose. You acknowledge
  that such information and materials may contain inaccuracies or errors and we expressly
  exclude liability for any such inaccuracies or errors to the fullest extent permitted by
  law.
</p>

<h3>Limitation of Liability</h3>
<p>
  Limitation of Liability our use of any information or materials on this website is entirely
  at your own risk, for which we shall not be liable. It shall be your own responsibility to
  ensure that any products, services or information available through this website meet your
  specific requirements.
</p>

<h3>Contact Information</h3>
<p>
  EdgeCase LLC
  <br />
  1266 Manning Parkway, Suite B
  <br />
  Powell
  <br />
  OHIO, 43065
</p>

<p>
  Telephone: 614.453.5527
</p>
