<h2>About</h2>

<h3>What is Mettle?</h3>

<p>Mettle is a regression testing framework for testing big data sets.</p>

<h3>How do I structure my data for Mettle to use?</h3>

<p>Mettle compares 2 CSV files formatted according the these rules
	<ul>
	  <li> Fields in the files must be comma separated </li>
	  <li> Each file must have its column names in the first row </li>
	</ul>
</p>

<h3>Supported browers</h3>

<p>Mettle uses HTML5 features that are only available in fairly modern browsers.  More information is available <%= link_to "here", static_path('browser') %>.</p>
