.simple_form {
  div.input {
    margin-bottom: 10px;
  }

  label {
    float: left;
    width: 150px;
    text-align: right;
    margin: 2px 10px;

    &.disabled {
      color: gray;
    }
  }

  textarea{
    width: 60%;
  }
}


div.boolean, .simple_form input[type='submit'] {
  margin-left: 170px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
}

#feedback_send_newsletter {
  margin-right: 15px;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 170px;
  font-size: 12px;
}

.simple_form .hint {
  clear: left;
  margin-left: 170px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
