
* {margin:0;padding:0;}

html, body {height: 100%;}

* {
  font-family: 'Oxygen', sans-serif;
}

body {
  background: #ABC;
}

a { color: #376BA5; }

h3{
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.5em;
}

ol, ul{
  margin-left: 2em;
}

#header {
  height  : 5em;
  color   : white;
  padding : 0.5em 1em;
  width   : 97%;
  margin  : auto;

  h1 {
    font-size: 2em;
  }

  a {
    color: white;
  }

  #notice{
    border            : 1px solid darken(#A1CE52, 5);
    background-color  : lighten(#A1CE52, 8);
    padding           : 0.2em 0.5em;
    text-align        : center;
    clear             : both;
    width             : 50%;
    margin            : auto;
  }

  #errors{
    border            : 1px solid darken(#DDA285, 5);
    background-color  : #DDA285;
    padding           : 0.2em 0.5em;
    text-align        : center;
    clear             : both;
    width             : 50%;
    margin            : auto;
  }
}

#logo {
  float: left;
  clear: right;
}


.linkbar {
  float: right;
  li {
    display: inline;
    margin-left: 0.5em;

    a{
      text-decoration: none;
      display: inline-block;
      padding: 0.2em 0.5em;

      &:hover{
        text-decoration: underline;
      }

      &.current{

        background-color: darken(#ABC, 8);
      }
    }
  }
}

#content {
  background : #FFF;
  padding    : 1em;
  width      : 95%;
  margin     : auto;
  border     : 5px solid darken(#fff, 5);

  h2 { font-size: 1.5em; }

  .ask-for-feedback {
    padding    : 0.1em;
    width      : 50%;
    margin     : auto;
    margin-top : 1em;
    text-align : center;
    border     : 5px solid darken(#fff, 5);
  }

  #browser-support-table {
    th, td{
      padding-right: 0.5em;
    }
  }
}

#intro {
  #examples {
    float: right;
  }
}

#footer{
  font-size : 0.8em;
  padding   : 1em;
  width     : 98%;
  text-align: right;
}
