#header {
  border: 2px solid red;
}

#footer {
  width: 100%;
  border: 2px solid red;
  /*margin-top: 80px;*/
}

#signup_form {
  display: inline-block;
  border: 2px solid brown;
  width: 25%;
  height: 100%;
  vertical-align: top;
  background: orange;
}

#feedback_form {
  display: inline-block;
  border: 2px solid brown;
	width: 65%;
  height: 100%;
  background: orange;
}