#test-results-table {
  font-family: 'Podkova', serif;
}

.passed {
  color: #25ff2a; }

.failed {
  color: #ff1400; }

#failed-columns-only {
  color: white; }

#summary {
  background: black;
  color: white; }
  #summary a.total {
    color: white; }

#results {
  padding: 20px;

  table {
    background: black;
  }

  td.failed {
    border: 1px solid red;
  }
}


.failed-columns-only {
  color: white; }

.summary {
  background: black;
  color: white; }
  .summary a.total {
    color: white; }

.results table {
  background: black; }
.results th {
  color: white;
  text-align: left;
  padding-right: 5px; }
.results td {
  padding-right: 5px; }


.results td.failed {
  border: 1px solid red; }
