#test-results-table {
  font-family: 'Podkova', serif;
}

.passed {
  color: #A1CE52; }

.failed {
  color: #CE5263; }

#failed-columns-only {
  color: white; }

#summary {
  background: black;
  color: white; }
  #summary a.total {
    color: white; }

.failed-columns-only {
  color: white; }

.summary {
  background : black;
  color      : white;
  border     : 5px solid #CCC;
  padding    : 1em;

  a.total{
    color: white;
  }
}

.results table{
  background      : #222;
  padding         : 1em;
  border          : 5px solid #CCC;
  border-collapse : collapse;

  th{
    color         : white;
    text-align    : left;
    border-left   : 1px solid #2A2A2A;
    border-bottom : 1px solid #666;
    padding       : 1em 1em 0.5em 1em;
    font-size     : 1em;
  }

  td{
    border-top  : 1px solid #444;
    border-left : 1px solid #2A2A2A;
    padding     : 0.2em 1em;
  }

  tr:last-child td{
    padding-bottom : 1em;
  }
}

