$step_bg : #F5F5F5;
$step_height : 80px;

.step {
  margin              : 0.5em 0em;
  position            : relative;
  padding             : 0.5em;
  height              : $step_height;
  border              : 5px solid darken($step_bg, 8);
  padding-left        : 100px;
  background-color    : $step_bg;
  background-repeat   : no-repeat;
  background-position : left center;

  input {
    padding   : 0.2em;
    font-size : 1em;
  }

  header {
    color     : darken($step_bg, 30);
    display   : block;
    font-size : 1.5em;
  }

  &.one  { background-image: url('/assets/step_1_bg.png') }
  &.two  { background-image: url('/assets/step_2_bg.png') }
  &.three{ background-image: url('/assets/step_3_bg.png') }
  &.four{ background-image: url('/assets/step_4_bg.png') }

  .pk_checkbox {
    margin-left: 0.5em;
  }

  &.complete{
    background-color : #DCD9CA;
    border-color     : darken(#DCD9CA, 8);

    header { color: #222; }
  }

  &.current{
    background-color : #A1CE52;
    border-color     : darken(#A1CE52, 8);

    header { color: #222; }
  }

  &.error{
    background-color : #CE5263;
    border-color     : darken(#CE5263, 8);

    header { color: #222; }
  }
}
